*{
  margin: 0;
  padding: 0;
  font-family: 'proxima Nova alt';
}

a{
  text-decoration: none;
  color: #ffffff;
  padding: 5px;
  padding-left: 10px;
  display: flex;
  align-items: center;
}

ul li {
  height: 50px;
  font-size: 20px;
  width: 100%;
  margin-top: 15px;

}

.iconer {
  padding-right: 30px;
  width: 100%;
  max-width: 2rem;
}

.iconer-1 {
  width: 100%;
  max-width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-liste a:hover{
  background-color: #f2cac1;
  border-radius: 3px;
}

.active{
  background-color: #cae4e3;
  border-radius: 3px;
  color: #00454e;
}

.link-navn .iconer{
  padding-top: 20px;
}

#ucl{
  width: 100%;
  max-width: 15rem;
}

#nav-overskrift{
  font-size: 1.5rem;
}

#h1-typ{
  font-size: 50px;
}

#h1-typ1{
  font-size: 50px;
}


#fa-h1-f0{
  font-size: 50px;
}

#h1-font{
  font-size: 100px;
  font-weight: bolder;
}

#h1-font1{
  font-size: 100px;
  font-weight: bolder;
  padding-bottom: 3rem;
}

#h1-iko{
  font-size: 50px;
}

/*Knapper på farveside*/

.b-1{grid-area: a;}
.b-2{grid-area: b;}
.b-3{grid-area: c;}

.grid-b{
display: grid;
grid-template-areas:
'a a c'
'b b c';
column-gap: 5rem;
}

.b-2 p{
bottom: 0px;
height: 10rem;
word-break:break-all;
}

/*f1*/

#text-f2{
  color: white;
  font-size: 20px;
  margin-left: 1rem;
  margin-top: 1rem;
}

#copy-text-btn{
    background-color: #282828;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 3px;
    cursor: copy;
}

#myBtn{
  background-color: #282828;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 3px;
  cursor:auto;
}

#copy-text-btn:hover{
  background-color: #101010;
}

.f2 p {
  margin-left: 1rem;
  margin-top: 1rem;
  color: white;
}

.knap-f1{
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
  padding-top: 6.5rem;
}



/*f3*/

#text-f3{
  color: black;
  font-size: 20px;
  margin-left: 1rem;
  margin-top: 1rem;
}

#copy-text-btn-f3{
    background-color: #282828;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 3px;
    cursor: copy;
}

#copy-text-btn-f3:hover{
  background-color: #101010;
}

.f3 p {
  margin-left: 1rem;
  margin-top: 1rem;
  color: black;
}


.knap-f3{
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
  margin-top: 6.5rem;
}


/*f4*/

#text-f4{
  color: black;
  font-size: 20px;
  margin-left: 1rem;
  margin-top: 1rem;
}

#copy-text-btn-f4{
    background-color: #282828;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 3px;
    cursor: copy;
}

#copy-text-btn-f4:hover{
  background-color: #101010;
}

.f4 p {
  margin-left: 1rem;
  margin-top: 1rem;
  color: black;
}


.knap-f4{
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
  margin-top: 6.5rem;
}


/*f5*/

#text-f5{
  color: black;
  font-size: 20px;
  margin-left: 1rem;
  margin-top: 1rem;
}

#copy-text-btn-f5{
    background-color: #282828;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 3px;
    cursor: copy;
}

#copy-text-btn-f5:hover{
  background-color: #101010;
}

.f5 p {
  margin-left: 1rem;
  margin-top: 1rem;
  color: black;
}


.knap-f5{
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
  margin-top: 6.5rem;
}


/*f6*/

#text-f6{
  color: white;
  font-size: 20px;
  margin-left: 1rem;
  margin-top: 1rem;
}

#copy-text-btn-f6{
    background-color: #282828;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 3px;
    cursor: copy;
}

#copy-text-btn-f6:hover{
  background-color: #101010;
}

.knap-f6{
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
  margin-top: 6.5rem;
}

.f6 p {
  margin-left: 1rem;
  margin-top: 1rem;
  color: white;
}



/*f7*/

#text-f7{
  color: black;
  font-size: 20px;
  margin-left: 1rem;
  margin-top: 1rem;
}

#copy-text-btn-f7{
    background-color: #282828;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 3px;
    cursor: copy;
}

#copy-text-btn-f7:hover{
  background-color: #101010;
}

.f7 p {
  margin-left: 1rem;
  margin-top: 1rem;
  color: black;
}


.knap-f7{
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
  margin-top: 6.5rem;
}


/*sammensat knapper på farveside*/

.f-knapper{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.f-knapper button {
  background-color: #00454e;
  border: 1px solid #00454e;
  padding: 10px 24px;
  cursor: pointer;
}

.f-knapper button:not(:last-child) {
  border-right: none;
}

.f-knapper:after {
  content: "";
  clear: both;
  display: table;
}

.f-knapper button:hover {
  background-color: #f2cac1;
}

.f-knapper a{
  color: #ffffff;
}


/*sammensat knapper på ikoner side*/

.f-knapper-1{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.f-knapper-1 button {
  background-color: #00454e;
  border: 1px solid #00454e;
  padding: 10px 24px;
  cursor: pointer;
}

.f-knapper-1 button:not(:last-child) {
  border-right: none;
}

/* Clear floats (clearfix hack) */
.f-knapper-1:after {
  content: "";
  clear: both;
  display: table;
}

.f-knapper-1 button:hover {
  background-color: #f2cac1;
}

.f-knapper-1 a{
  color: #ffffff;
}

.v0 { grid-area: a;}
.v1 { grid-area: b;}
.v2 { grid-area: c;}

.grid{
    display: grid;
    grid-template-areas:
      'a a'
      'b c';
    grid-template-columns: 1fr 5fr;

  }

.v0{
  padding: 2rem;
  background-color: #cae4e3;
}

  .v1{
    background-color: #00454e;
    color: #cae4e3;
    height: 110%;
    padding-left: 10px;
    padding-top: 20px;
    padding-right: 20px;
  }

  .v2{
    padding-left: 4rem;
    padding-right: 4rem;
    background-color: #FFFFFF;
    margin-top: 4rem;
    height: auto;
  }


/*Grid til farver*/
  .f-knapper { grid-area: o;}
  .f0 { grid-area: a;}
  .f2 { grid-area: b;}
  .f3 { grid-area: c;}
  .f4 { grid-area: d;}
  .f5 { grid-area: e;}
  .f6 { grid-area: f;}
  .f7 { grid-area: g;}

  .grid-container{
      display: grid;
      grid-template-areas:
        'a o'
        'b b'
        'c c'
        'd d'
        'e e'
        'f f'
        'g g';
        grid-gap: 5rem;;
    }

    .f1{
      background-color: #00454e;
      width: 100%;
      height: 10rem;
    }

    .f2{
      background-color: #00454e;
      width: 100%;
      height: 10rem;
    }

    .f3{
      background-color: #cae4e3;
      width: 100%;
      height: 10rem;
    }

    .f4{
      background-color: #f2cac1;
      width: 100%;
      height: 10rem;
    }

    .f5{
      background-color: #fae76a;
      width: 100%;
      height: 10rem;
    }

    .f6{
      background-color: #FF0000;
      width: 100%;
      height: 10rem;
    }


    .f7{
      background-color: #FFFFFF;
      width: 100%;
      height: 10rem;
      border-style: solid;
      border-color: black;
      border-width: 1px;
    }


    .q1 { grid-area: a;}
    .q2 { grid-area: b;}
    .q3 { grid-area: c;}
    .q4 { grid-area: d;}
    .q5 { grid-area: e;}
    .q0 { grid-area: f;}
    .q6 { grid-area; g;}
    .q7 { grid-area; h;}
    .q8 { grid-area; i;}

    .v3{
        display: grid;
        grid-template-areas:
          'f f'
          'g c'
          'h d'
          'i e'
          'a b';
          grid-gap: 20px;
      }

      .q0{
        margin-right: 4rem;
      }

      .q1{
        width: 100%;
        list-style-position: inside;
      }

      .q2{
        width: 100%;
      }

      .q3{
        width: 100%;
        font-size: 30px;
      }

      .q4{
        width: 100%;
        font-size: 30px;
      }

      .q5{
        width: 100%;
        Font-size: 30px;
      }

    .q6{
      font-size: 30px;
    }

    .q7{
      font-size: 14px;
    }

    .q8{
      font-size: 14px;
    }

    .h44{
      height: 10rem;
      max-height: 100%;
      width: 100%;
      max-width: 20rem;
      border: none;
      background-color: #CAE4E3;
      color: #00454E;
      padding: 2rem;
    }

    .h11{
      height: 10rem;
      max-height: 100%;
      width: 100%;
      max-width: 20rem;
      border: none;
      background-color: #CAE4E3;
      color: #00454E;
      padding: 2rem;
    }

    .p11{
      height: 10rem;
      max-height: 100%;
      width: 100%;
      max-width: 20rem;
      border: none;
      background-color: #CAE4E3;
      color: #00454E;
      padding: 2rem;
    }

      .t1 { grid-area: a;}
      .t2 { grid-area: b;}
      .t3 { grid-area: c;}
      .t4 { grid-area: d;}
      .t5 { grid-area: e;}
      .t6 { grid-area: f;}

      .v4{
        display: grid;
        grid-template-areas:
        'a a'
        'b b'
        'c d'
        'e f';
        grid-gap: 20px;
      }

/*Grid på ikoner */

      .ik1 {grid-area: a;}
      .f-knapper-1 {grid-area: b;}
      .ik3 {grid-area: c;}
      .ik4 {grid-area: d;}
      .ik5 {grid-area: e;}
      .ik6 {grid-area: f;}
      .ik7 {grid-area: g;}
      .ik8 {grid-area: h;}
      .ik9 {grid-area: i;}

      .grid-ikoner{
      display: grid;
      grid-template-areas:
      'a b'
      'c c'
      'd d'
      'e f'
      'g g'
      'h i';
      grid-gap: 5rem;
      grid-template-columns: 1fr 1fr;
      }

      .ik5{
        background-color: #CAE4E3;
        padding: 20px;

      }

      .ik9{
        background-color: #CAE4E3;
        padding: 20px;
      }

      .ik6{
        width: 100%;
        word-break:break-all;
      }



      .tal-1{
        font-size: 1rem;
      }

      .kode-ikoner{
        width: 100%;
        height: 1rem;
        resize: none;
        border: none;
        background-color: #CAE4E3;
        color: #00454E;
        max-width: 30rem;
      }




      /*grid der indeholder ikonerne*/
      .ikon1 {grid-area: a;}
      .ikon2 {grid-area: b;}
      .ikon3 {grid-area: c;}
      .ikon4 {grid-area: d;}
      .ikon5 {grid-area: e;}
      .ikon6 {grid-area: f;}
      .ikon7 {grid-area: g;}
      .ikon8 {grid-area: h;}
      .ikon9 {grid-area: i;}
      .ikon10 {grid-area: j;}


      .ik4{
      display: grid;
      grid-template-areas:
      'a b c d e f g h i j';
      grid-gap: 0.2rem;
      }

      .ik4 i{
        font-size: 50px;
        color: #00454E;
      }

      .ikon1-1 {grid-area: a;}
      .ikon2-1 {grid-area: b;}
      .ikon3-1 {grid-area: c;}
      .ikon4-1 {grid-area: d;}
      .ikon5-1 {grid-area: e;}
      .ikon6-1 {grid-area: f;}
      .ikon7-1 {grid-area: g;}
      .ikon8-1 {grid-area: h;}
      .ikon9-1 {grid-area: i;}
      .ikon10-1 {grid-area: j;}


      .ik7{
      display: grid;
      grid-template-areas:
      'a b c d e f g h i j';
      grid-gap: 0.2rem;
      margin-top: 8rem;
      }

      .ik7 i{
        font-size: 50px;
        color: #00454E;
      }


      .log3 { grid-area: a;}
      .log4 { grid-area: b;}
      .log5 { grid-area: c;}

      .log2{
        display: grid;
        grid-template-areas:
        'a c'
        'b b';
        grid-gap: 10rem;
        margin-top: 5rem;
      }

      .log3{
        width: 100%;
        max-width: 25rem;
      }

      .log4{
        width: 100%;
        max-width: 50%;
        height: 100%;
        max-height: 5rem;
      }

      .kode-logo{
        height: 5rem;
        max-height: 100%;
        width: 100%;
        max-width: 20rem;
        resize: none;
        border: none;
        background-color: #CAE4E3;
        color: #00454E;
        padding: 2rem;
      }


      #logo{
        width: 100%;
        max-width: 25rem;
        min-width: 28mm;
      }

      .log5{
        font-size: 20px;
        width: 100%;
        max-width: 50%;
        min-width: 28mm;
      }

      .m1 { grid-area: a;}
      .m2 { grid-area: b;}
      .m3 { grid-area: c;}
      .m4 { grid-area: d;}
      .m5 { grid-area: e;}
      .m6 { grid-area: f;}
      .m7 { grid-area: g;}
      .m8 { grid-area: h;}

    .m0{
      display: grid;
      grid-template-areas:
      'a b'
      'c d'
      'e f'
      'g h';
      grid-gap: 5rem;
    }
    .m2{
      width: 100%;
      max-width: 50%;
    }

    .m4{
      width: 100%;
      max-width: 50%;
    }

    .m6{
      width: 100%;
      max-width: 50%;
    }

    .m8{
      width: 100%;
      max-width: 50%;
    }

    .footer{
      width: 100%;
      max-width: 50%;
    }

    .header{
      width: 100%;
      max-width: 50%;
    }

    .burgermenu{
      width: 100%;
      max-width: 50%;
    }

    .menu-ikon{
      width: 100%;
      max-width: 50%;
    }

    .text{
      height: 10rem;
      max-height: 100%;
      width: 100%;
      max-width: 20rem;
      border: none;
      background-color: #CAE4E3;
      color: #00454E;
      padding: 2rem;
    }

.v2 h3 {
  padding-top: 10rem;
}

.gla{
  width: 100%;
  max-width: 1000px;
  margin-top: 5rem;
}


.kk1 { grid-area: a;}
.kk2 { grid-area: b;}
.kk3 { grid-area: c;}
.kk4 { grid-area: d;}
.kk5 { grid-area: e;}
.kk6 { grid-area: f;}
.kk7 { grid-area: g;}
.kk8 { grid-area: h;}
.kk9 { grid-area: i;}
.kk10 { grid-area: j;}
.kk11 { grid-area: k;}
.kk12 { grid-area: l;}
.kk13 { grid-area: m;}
.kk14 { grid-area: n;}
.kk15 { grid-area: o;}
.kk16 { grid-area: p;}
.kk17 { grid-area: q;}
.kk18 { grid-area: r;}
.kk19 { grid-area: s;}
.kk20 { grid-area: t;}
.kk21 { grid-area: u;}
.kk22 { grid-area: v;}
.kk23 { grid-area: w;}
.kk24 { grid-area: x;}


.grid-knapper-kk{
    display: grid;
    grid-template-areas:
      'a b c d e f g h i j k'
      'l m n o p q r s t u v'
      'w w w w w x x x x x x'
      ;
  }




  /* css koder til knapper */

  .knapper{
  display: flex;
  flex-direction:column;
  justify-content:center;
  padding-top: 50px;
  align-items: center;
}

.btn-rediger{
  background-color: #00454e;
  border: 2px solid #00454e;
  font-size: 10px;
  color: white;
  margin-top: 70px;
  margin-left: 20px;
  padding: 3px;
  border-radius: 3px;
  height: 20px;
  width: 80px;
}

.filter{
  width: 95px;
  background-color: #00454e;
  color: #fff;
  font-family: 'Proxima Nova Alt Lt', sans-serif;
  height: 40px;
  font-size:15px;;
  font-weight: bold;
  border-radius: 5px;
  margin-top: 15px;
  margin-left: 20px;
  margin-right: 20px;
}

.opretb{

  background-color: #00454e;
  color: #fff;
  font-family: 'Proxima Nova Alt Lt', sans-serif;
  height: 40px;
  font-size:15px;
  font-weight: bold;
  border-radius: 5px;
  width: 180px;
  margin-left: 35px;
}

#heart-icon{
position: absolute;
margin-left: 90%;
top: 16%;
color: white;
}

.knap {
 margin-top: 130px;
 margin-left: 1px;
}

.knapper{
  display: flex;
  flex-direction:column;
  justify-content:center;
  padding-top: 50px;
  align-items: center;
}

.btnheader{
  background-color: #00454e;
  border: 2px solid #00454e;
  font-size: 10px;
  color: white;
  display: block;
  padding: 3px;
  border-radius: 3px;
}

.filter{
  width: 95px;
  background-color: #00454e;
  color: #fff;
  height: 40px;
  font-size:15px;;
  font-weight: bold;
  border-radius: 5px;
  margin-top: 15px;
  margin-left: 20px;
  margin-right: 20px;
}

.opretb{

  background-color: #00454e;
  color: #fff;
  font-family: 'Proxima Nova Alt Lt', sans-serif;
  height: 40px;
  font-size:15px;
  font-weight: bold;
  border-radius: 5px;
  width: 180px;
  margin-left: 35px;
}

#heart {
    background: none;
    border: none;
    padding: 0;
}

.material-icons-outlined {
    font-size: 50px;
    color: #595959;
}

.material-icons-outlined:hover,
.material-icons-outlined:focus {
    cursor: pointer;
}

.material-icons-outlined:active {
    transform: scale(0.96)
}

#heart-icon{
position: absolute;
margin-left: 90%;
top: 16%;
color: white;

}

#myBtn{
display:block;
margin-left: auto;
margin-right: auto;
width: 40vw;
height: 10vh;
font-size: 8vw;
color: white;
background-color: #00454e;
font-weight: bold;
position: absolute;
top: 425px;
left:50%;
right: auto;
transform: translate(-50%, -50%);
z-index: 1;
}
