*{
  margin: 0;
  padding: 0;
  font-family: 'proxima Nova alt';
}

a{
  text-decoration: none;
  color: #ffffff;
  padding: 5px;
  padding-left: 10px;
  display: flex;
  align-items: center;
}

ul li {
  height: 50px;
  font-size: 20px;
  width: 100%;
  margin-top: 15px;

}

i {
  font-size: 30px;
  padding-right: 30px;
}

.nav-liste a:hover{
  background-color: #f2cac1;
  border-radius: 3px;
  color: #00454e;
}

.active{
  background-color: #cae4e3;
  border-radius: 3px;
  color: #00454e;
}

.link-navn i{
  padding-top: 20px;
}

#ucl{
  width: 100%;
  max-width: 15rem;
}

#nav-overskrift{
  font-size: 1.5rem;
}

#h1-typ{
  font-size: 50px;
}

#h1-typ1{
  font-size: 50px;
}


#fa-h1-f0{
  font-size: 50px;
}

#h1-font{
  font-size: 100px;
  font-weight: bolder;
}

#h1-font1{
  font-size: 100px;
  font-weight: bolder;
}

/*Knapper på farveside*/

.b-1{grid-area: a;}
.b-2{grid-area: b;}
.b-3{grid-area: c;}

.grid-b{
display: grid;
grid-template-areas:
'a a c'
'b b c';
column-gap: 5rem;
}

.b-2 p{
bottom: 0px;
height: 10rem;
word-break:break-all;
}

/*f1*/

#text-f2{
  color: white;
  font-size: 20px;
  margin-left: 1rem;
  margin-top: 1rem;
}

#copy-text-btn{
    background-color: #282828;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 3px;
    cursor: copy;
}

#copy-text-btn:hover{
  background-color: #101010;
}

.f2 p {
  margin-left: 1rem;
  margin-top: 1rem;
  color: white;
}

.knap-f1{
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
  padding-top: 6.5rem;
}



/*f3*/

#text-f3{
  color: black;
  font-size: 20px;
  margin-left: 1rem;
  margin-top: 1rem;
}

#copy-text-btn-f3{
    background-color: #282828;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 3px;
    cursor: copy;
}

#copy-text-btn-f3:hover{
  background-color: #101010;
}

.f3 p {
  margin-left: 1rem;
  margin-top: 1rem;
  color: black;
}


.knap-f3{
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
  margin-top: 6.5rem;
}


/*f4*/

#text-f4{
  color: black;
  font-size: 20px;
  margin-left: 1rem;
  margin-top: 1rem;
}

#copy-text-btn-f4{
    background-color: #282828;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 3px;
    cursor: copy;
}

#copy-text-btn-f4:hover{
  background-color: #101010;
}

.f4 p {
  margin-left: 1rem;
  margin-top: 1rem;
  color: black;
}


.knap-f4{
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
  margin-top: 6.5rem;
}


/*f5*/

#text-f5{
  color: black;
  font-size: 20px;
  margin-left: 1rem;
  margin-top: 1rem;
}

#copy-text-btn-f5{
    background-color: #282828;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 3px;
    cursor: copy;
}

#copy-text-btn-f5:hover{
  background-color: #101010;
}

.f5 p {
  margin-left: 1rem;
  margin-top: 1rem;
  color: black;
}


.knap-f5{
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
  margin-top: 6.5rem;
}


/*f6*/

#text-f6{
  color: white;
  font-size: 20px;
  margin-left: 1rem;
  margin-top: 1rem;
}

#copy-text-btn-f6{
    background-color: #282828;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 3px;
    cursor: copy;
}

#copy-text-btn-f6:hover{
  background-color: #101010;
}

.knap-f6{
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
  margin-top: 6.5rem;
}

.f6 p {
  margin-left: 1rem;
  margin-top: 1rem;
  color: white;
}



/*f7*/

#text-f7{
  color: black;
  font-size: 20px;
  margin-left: 1rem;
  margin-top: 1rem;
}

#copy-text-btn-f7{
    background-color: #282828;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 3px;
    cursor: copy;
}

#copy-text-btn-f7:hover{
  background-color: #101010;
}

.f7 p {
  margin-left: 1rem;
  margin-top: 1rem;
  color: black;
}


.knap-f7{
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
  margin-top: 6.5rem;
}





/*sammensat knapper*/
.f-knapper{
  display: flex;
  justify-content: flex-end;
}

.menu-knapper{
}

.f-knapper button {
  background-color: #00454e;
  border: 1px solid #00454e;
  padding: 10px 24px;
  cursor: pointer;
}

.f-knapper button:not(:last-child) {
  border-right: none;
}

/* Clear floats (clearfix hack) */
.f-knapper:after {
  content: "";
  clear: both;
  display: table;
}

.f-knapper button:hover {
  background-color: #f2cac1;
}

.f-knapper a{
  color: #ffffff;
}




.v0 { grid-area: a;}
.v1 { grid-area: b;}
.v2 { grid-area: c;}

.grid{
    display: grid;
    grid-template-areas:
      'a a'
      'b c';
    grid-template-columns: 1fr 5fr;

  }

.v0{
  padding: 2rem;
  background-color: #cae4e3;
}


  .v1{
    background-color: #00454e;
    color: #cae4e3;
    height: 110%;
    padding-left: 10px;
    padding-top: 20px;
    padding-right: 20px;
  }

  .v2{
    padding-left: 4rem;
    padding-right: 4rem;
    background-color: #white;
    margin-top: 4rem;
    height: auto;
  }

/*Grid til farver*/
  .f-knapper { grid-area: o;}
  .f0 { grid-area: a;}
  .f2 { grid-area: b;}
  .f3 { grid-area: c;}
  .f4 { grid-area: d;}
  .f5 { grid-area: e;}
  .f6 { grid-area: f;}
  .f7 { grid-area: g;}

  .grid-container{
      display: grid;
      grid-template-areas:
        'a o'
        'b b'
        'c c'
        'd d'
        'e e'
        'f f'
        'g g';
        grid-gap: 50px;
    }


    .f1{
      background-color: #00454e;
      width: 100%;
      height: 10rem;
    }

    .f2{
      background-color: #00454e;
      width: 100%;
      height: 10rem;
    }

    .f3{
      background-color: #cae4e3;
      width: 100%;
      height: 10rem;
    }

    .f4{
      background-color: #f2cac1;
      width: 100%;
      height: 10rem;
    }

    .f5{
      background-color: #fae76a;
      width: 100%;
      height: 10rem;
    }

    .f6{
      background-color: #FF0000;
      width: 100%;
      height: 10rem;
    }

    .f7{
      background-color: #FFFFFF;
      width: 100%;
      height: 10rem;
      border-style: solid;
      border-color: black;
      border-width: 1px;
    }
